<form method="post" class="container" action="Fornitori">
    <div class="inline">
        <div class="form-container">
            {% csrf_token %}
            <div class="label-container">
                
                <div class="form-label">{{ form.codfor.label }}</div> 
                
            </div>
            <div class="input-container">
                <div class="inline">
                    {{ form.codfor }}
                    <button type="button" class="dropdown">
                        <span id="left"></span>
                        <span id="right"></span>
                        <ul class="dropdown-menu"></ul>
                    </button>
                    
                </div>
                
            </div>
        </div>
        <div class="form-container">
            <div class="label-container">
                <div class="form-label">{{ form.ragsoc.label }}</div>
                <div class="form-label">{{ form.datagg.label }}</div>
                <div class="form-label">{{ form.indiri.label }}</div>
                <div class="form-label">{{ form.locali.label }}</div>
                
            </div>
            <div class="input-container">
                <div class="inline">
                    {{ form.ragsoc }}
                    <button type="button" class="dropdown">
                        <span id="left"></span>
                        <span id="right"></span>
                        <ul class="dropdown-menu"></ul>
                    </button>
                    
                </div> 
                <div class="inline">{{ form.datagg }}</div>
                <div class="inline">{{ form.indiri }}</div>
                <div class="inline">
                    {{ form.locali }}   
                    <div class="form-label">{{ form.provin.label }}</div>
                    {{ form.provin }}
                    <div class="form-label">{{ form.cap.label }}</div>
                    {{ form.cap }}
                </div>            
            </div>
        </div>
    </div>
    <div class="line"></div>
    <div class="inline">
        <div class="form-container">
            <div class="label-container">
                <div class="form-label">{{ form.telef1.label }}</div> 
                <div class="form-label">{{ form.telef2.label }}</div>
                <div class="form-label">{{ form.cellul.label }}</div>
            </div>
            <div class="input-container">
                <div class="inline">
                    {{ form.telef1 }}
                </div>
                <div class="inline">
                    {{ form.telef2 }}
                </div>
                <div class="inline">
                    {{ form.cellul }}
                </div> 
            </div>
        </div>
        <div class="form-container">
            <div class="label-container">
                <div class="form-label">{{ form.pariva.label }}</div> 
                <div class="form-label">{{ form.codfis.label }}</div>
                <div class="form-label">{{ form.fax.label }}</div>
            </div>
            <div class="input-container">
                <div class="inline">
                    {{ form.pariva }}
                </div>
                <div class="inline">
                    {{ form.codfis }}
                </div>
                <div class="inline">
                    {{ form.fax }}
                </div> 
            </div>
        </div>
        <div class="form-container">
            <div class="label-container">
                <div class="form-label">{{ form.spesom.label }}</div>
                <div class="form-label">{{ form.storic.label }}</div>
                <div class="form-label">{{ form.schcar.label }}</div>
            </div>
            <div class="input-container">
                <div class="inline">{{ form.spesom }}</div>
                <div class="inline">{{ form.storic }}</div>
                <div class="inline">{{ form.schcar }}</div>
            </div>
        </div>
    </div>
    <div class="inline">
        <div class="block">
            <div class="form-label">
                IBAN:
            </div>
        </div>
        <div class="block">
            <div class="form-label">{{ form.pae.label }}</div>
            {{ form.pae }}
        </div>
        <div class="block">
            <div class="form-label">{{ form.cineur.label }}</div>
            {{ form.cineur }}
        </div>
        <div class="block">
            <div class="form-label">{{ form.cin.label }}</div>
            {{ form.cin }}
        </div>
        <div class="block">
            <div class="form-label">{{ form.codabi.label }}</div>
            {{ form.codabi }}
        </div>
        <div class="block">
            <div class="form-label">{{ form.codcab.label }}</div>
            {{ form.codcab }}
        </div>
        <div class="block">
            <div class="form-label">{{ form.conto.label }}</div>
            {{ form.conto }}
        </div>
    </div>
    <div class="inline">
        <div class="form-container">
            <div class="label-container">
                <div class="form-label">{{ form.banapp.label }}</div>
                <div class="form-label">{{ form.tipfor.label }}</div>
                <div class="form-label">{{ form.email.label }}</div>
                <div class="form-label">{{ form.sito.label }}</div>
                <div class="form-label">{{ form.alias.label }}</div>
                <div class="form-label">{{ form.regfis.label }}</div>
            </div>
            <div class="input-container">
                <div class="inline">{{ form.banapp }}</div>
                <div class="inline">{{ form.tipfor }}</div>
                <div class="inline">{{ form.email }}</div>
                <div class="inline">{{ form.sito }}</div>
                <div class="inline">
                    {{ form.alias }}
                    <button type="button" class="dropdown">
                        <span id="left"></span>
                        <span id="right"></span>
                        <ul class="dropdown-menu"></ul>
                    </button>
                </div>
                <div class="inline">{{ form.regfis }}</div>
            </div>
        </div>
        <div class="form-container">
            <div class="label-container">
                <div class="form-label">{{ form.codpag.label }}</div>
                <div class="form-label">{{ form.codzon.label }}</div>
                <div class="form-label">{{ form.codiva.label }}</div>
                <div class="form-label">{{ form.codcat.label }}</div>
                <div class="form-label">{{ form.codnaz.label }}</div>
                <div class="form-label">{{ form.codban.label }}</div>
                <div class="form-label">{{ form.staest.label }}</div>
            </div>
            <div class="input-container">
                <div class="inline">
                    {{ form.codpag }}
                    <button type="button" class="dropdown">
                        <span id="left"></span>
                        <span id="right"></span>
                        <ul class="dropdown-menu"></ul>
                    </button>
                    {{ form.despag }}
                    <button type="button" class="dropdown">
                        <span id="left"></span>
                        <span id="right"></span>
                        <ul class="dropdown-menu"></ul>
                    </button>
                    <div class="draggable-opener inside-opener Modalita-di-Pagamento">+</div>
                </div>
                <div class="inline">
                    {{ form.codzon }}
                    <button type="button" class="dropdown">
                        <span id="left"></span>
                        <span id="right"></span>
                        <ul class="dropdown-menu"></ul>
                    </button>
                    {{ form.deszon }}
                    <button type="button" class="dropdown">
                        <span id="left"></span>
                        <span id="right"></span>
                        <ul class="dropdown-menu"></ul>
                    </button>
                    <div class="draggable-opener inside-opener Zone">+</div>
                </div>
                <div class="inline">
                    {{ form.codiva }}
                    <button type="button" class="dropdown">
                        <span id="left"></span>
                        <span id="right"></span>
                        <ul class="dropdown-menu"></ul>
                    </button>
                    {{ form.desiva }}
                    <button type="button" class="dropdown">
                        <span id="left"></span>
                        <span id="right"></span>
                        <ul class="dropdown-menu"></ul>
                    </button>
                    <div class="draggable-opener inside-opener Tabella-IVA-Acquisti">+</div>
                </div>
                <div class="inline">
                        {{ form.codcat }}
                        <button type="button" class="dropdown">
                            <span id="left"></span>
                            <span id="right"></span>
                            <ul class="dropdown-menu"></ul>
                        </button>
                        {{ form.descat }}
                        <button type="button" class="dropdown">
                            <span id="left"></span>
                            <span id="right"></span>
                            <ul class="dropdown-menu"></ul>
                        </button>
                    <div class="draggable-opener inside-opener Gestione-Tabella-Categorie">+</div>
                </div>
                <div class="inline">
                        {{ form.codnaz }}
                        <button type="button" class="dropdown">
                            <span id="left"></span>
                            <span id="right"></span>
                            <ul class="dropdown-menu"></ul>
                        </button>
                        {{ form.desnaz }}
                        <button type="button" class="dropdown">
                            <span id="left"></span>
                            <span id="right"></span>
                            <ul class="dropdown-menu"></ul>
                        </button>
                    <div class="draggable-opener inside-opener Gestione-Tabella-Nazioni">+</div>
                </div>
                <div class="inline">
                        {{ form.codban }}
                        <button type="button" class="dropdown">
                            <span id="left"></span>
                            <span id="right"></span>
                            <ul class="dropdown-menu"></ul>
                        </button>
                        {{ form.desban }}
                        <button type="button" class="dropdown">
                            <span id="left"></span>
                            <span id="right"></span>
                            <ul class="dropdown-menu"></ul>
                        </button>
                    <div class="draggable-opener inside-opener Gestione-Tabella-Banche">+</div>
                </div>
                <div class="inline">
                        {{ form.staest }}
                        <button type="button" class="dropdown">
                            <span id="left"></span>
                            <span id="right"></span>
                            <ul class="dropdown-menu"></ul>
                        </button>
                        {{ form.desest }}
                        <button type="button" class="dropdown">
                            <span id="left"></span>
                            <span id="right"></span>
                            <ul class="dropdown-menu"></ul>
                        </button>
                    <div class="draggable-opener inside-opener Stati-Esteri">+</div>
                </div>
            </div>
        </div>
    </div>
    <div class="block difbg">
        <div class="inline">
            <div class="inline">
                <div class="form-label spcenter">
                    {{ form.proimp.label }}
                </div>
                {{ form.proimp }}
            </div>
            
            <div class="inline">
                <div class="form-label spcenter">
                    {{ form.proiva.label }}
                </div>
                {{ form.proiva }}
            </div>
            
            <div class="inline">
                <div class="form-label spcenter">
                    {{ form.pronim.label }}
                </div>
                {{ form.pronim }}
            </div>
        </div>
        <div class="inline">
            <div class="inline">
                <div class="form-label spcenter">
                    {{ form.proese.label }}
                </div>
                {{ form.proese }}
            </div>
            
            <div class="inline">
                <div class="form-label spcenter">
                    {{ form.numfat.label }}
                </div>
                {{ form.numfat }}
            </div>
            
            <div class="inline">
                <div class="form-label spcenter">
                    {{ form.nunocr.label }}
                </div>
                {{ form.nunocr }}
            </div>
        </div>
    </div>
    <div class="inline btn-container">
        <button type="submit" class="submit-btn">Salva</button>
        <button type="button" class="delete-btn">Elimina</button>
        <button type="button" class="clean-btn">Pulisci</button>
        <div class="arrows-container inline">
            <button type="button" class="arrows-btn lt"><i class='bx bx-chevron-left'></i></button>
            <button type="button" class="arrows-btn gt"><i class='bx bx-chevron-right' ></i></button>
        </div>
    </div>
</form>
<script>
    $('.dropdown-menu').on('scroll', function(){
        if ($(this).scrollTop() + $(this).innerHeight() >= $(this)[0].scrollHeight-10) {
            var url = $(this).parents('.drag-container').attr('id')
            var id = $(this).parents('.dropdown').siblings(".form-control").attr("name")
            var offset = parseInt($(this).children(':last').attr('class').split(' ').pop().split('-').pop(), 10)+1
            var dm = $(this)
            var chars = $(this).find('.dropdown-search-bar').val()
            $.ajax({
                url: url,
                type: 'GET',
                datatype: 'json',
                data: {
                    id: id,
                    offset: offset,
                    chars: chars
                },
                success: function(response){
                    //fill the list with the data from the database
                    var num = offset + 1;
                    $.each(response, function(i){
                        var li = '<li class="inline dropdown-menu-item item-{0}">'.format(num)
                        var cls_li ='</li>'
                        $.each(response[i], function(key, value){
                            li = li + "<div> {0} </div>".format(value)
                        })
                        li = li + cls_li
                        dm.append(li)
                        num++
                    })
                }
            })
        }
    })
</script>
  