{% load get_next_field %}
<form action="{% url url_name %}" method="POST" class="container" target="form_response_iframe">
    <div class="form-container">
        {% csrf_token %}
        <div class="label-container">
            <div class="form-label">{{ form.datini.label }}</div>
            <div class="form-label">{{ form.ragsoc.label }}</div>
            <div class="form-label">{{ form.indiri.label }}</div>
            <div class="form-label">{{ form.locali.label }}</div>
            <div class="form-label">{{ form.cap.label }}</div>
            <div class="form-label">{{ form.provin.label }}</div>
            <div class="form-label">{{ form.pariva.label }}</div>
            <div class="form-label">{{ form.codfis.label }}</div>
            <div class="form-label">{{ form.email.label }}</div>
            <div class="form-label">{{ form.sito.label }}</div>
            <div class="form-label">{{ form.corven.label }}</div>
            <div class="form-label">{{ form.art10.label }}</div>
            <div class="form-label">{{ form.ditind.label }}</div>
            <div class="form-label">{{ form.sesso.label }}</div>
            <div class="form-label">{{ form.datnas.label }}</div>
            <div class="form-label">{{ form.comnas.label }}</div>
            <div class="form-label">{{ form.pronas.label }}</div>
            <div class="form-label">{{ form.cognom.label }}</div>
            <div class="form-label">{{ form.nome.label }}</div>
            <div class="form-label">{{ form.tipsog.label }}</div>
            <div class="form-label">{{ form.tipcon.label }}</div>
            <div class="form-label">{{ form.tipiva.label }}</div>
            <div class="form-label">{{ form.banapp.label }}</div>
            <div class="form-label">{{ form.iban.label }}</div>
            <div class="form-label">{{ form.cofiin.label }}</div>
            <div class="form-label">{{ form.iscain.label }}</div>
            <div class="form-label">{{ form.compre.label }}</div>
            <div class="form-label">{{ form.cofiso.label }}</div>
            <div class="form-label">{{ form.codatt.label }}</div>
            <div class="form-label">{{ form.gescor.label }}</div>
            <div class="form-label">{{ form.regfis.label }}</div>
            <div class="form-label">{{ form.isrepr.label }}</div>
            <div class="form-label">{{ form.isrenu.label }}</div>
            <div class="form-label">{{ form.capsoc.label }}</div>
            <div class="form-label">{{ form.socuni.label }}</div>
            <div class="form-label">{{ form.staliq.label }}</div>
        </div>
        <div class="input-container">
            <div class="inline">{{ form.datini }}</div>
            <div class="inline">{{ form.ragsoc }}</div>
            <div class="inline">{{ form.indiri }}</div>
            <div class="inline">{{ form.locali }}</div>
            <div class="inline">{{ form.cap }}</div>
            <div class="inline">{{ form.provin }}</div>
            <div class="inline">{{ form.pariva }}</div>
            <div class="inline">{{ form.codfis }}</div>
            <div class="inline">{{ form.email }}</div>
            <div class="inline">{{ form.sito }}</div>
            <div class="inline">{{ form.corven }}</div>
            <div class="inline">{{ form.art10 }}</div>
            <div class="inline">{{ form.ditind }}</div>
            <div class="inline">{{ form.sesso }}</div>
            <div class="inline">{{ form.datnas }}</div>
            <div class="inline">{{ form.comnas }}</div>
            <div class="inline">{{ form.pronas }}</div>
            <div class="inline">{{ form.cognom }}</div>
            <div class="inline">{{ form.nome }}</div>
            <div class="inline">{{ form.tipsog }}</div>
            <div class="inline">{{ form.tipcon }}</div>
            <div class="inline">{{ form.tipiva }}</div>
            <div class="inline">{{ form.banapp }}</div>
            <div class="inline">{{ form.iban }}</div>
            <div class="inline">{{ form.cofiin }}</div>
            <div class="inline">{{ form.iscain }}</div>
            <div class="inline">{{ form.compre }}</div>
            <div class="inline">{{ form.cofiso }}</div>
            <div class="inline">{{ form.codatt }}</div>
            <div class="inline">{{ form.gescor }}</div>
            <div class="inline">{{ form.regfis }}</div>
            <div class="inline">{{ form.isrepr }}</div>
            <div class="inline">{{ form.isrenu }}</div>
            <div class="inline">{{ form.capsoc }}</div>
            <div class="inline">{{ form.socuni }}</div>
            <div class="inline">{{ form.staliq }}</div>
        </div>
    </div>
    <div class="form-container">
        <div class="label-container">
            <div class="form-label">{{form.maclit.label}}</div>
            <div class="form-label">{{form.macles.label}}</div>
            <div class="form-label">{{form.masfor.label}}</div>
            <div class="form-label">{{form.ivcove.label}}</div>
            <div class="form-label">{{form.ivcoac.label}}</div>
            <div class="form-label">{{form.ivcoco.label}}</div>
            <div class="form-label">{{form.cassa.label}}</div>
            <div class="form-label">{{form.cotrri.label}}</div>
            <div class="form-label">{{form.spetra.label}}</div>
            <div class="form-label">{{form.spebol.label}}</div>
            <div class="form-label">{{form.speinc.label}}</div>
            <div class="form-label">{{form.picfat.label}}</div>
            <div class="form-label">{{form.portra.label}}</div>
            <div class="form-label">{{form.poriba.label}}</div>
            <div class="form-label">{{form.conven.label}}</div>
            <div class="form-label">{{form.copapa.label}}</div>
            <div class="form-label">{{form.ivacce.label}}</div>
            <div class="form-label">{{form.ivvece.label}}</div>
            <div class="form-label">{{form.ivacre.label}}</div>
            <div class="form-label">{{form.ivvere.label}}</div>
            <div class="form-label">{{form.coriac.label}}</div>
            <div class="form-label">{{form.conena.label}}</div>
            <div class="form-label">{{form.cocoin.label}}</div>
            <div class="form-label">{{form.ivvesp.label}}</div>
            <div class="form-label">{{form.coivtr.label}}</div>
            <div class="form-label">{{form.coivbo.label}}</div>
            <div class="form-label">{{form.coivin.label}}</div>
            <div class="form-label">{{form.coivpi.label}}</div>
            <div class="form-label">{{form.coivta.label}}</div>
            <div class="form-label">{{form.coivri.label}}</div>
            <div class="form-label">{{form.ritenu.label}}</div>
            <div class="form-label">{{form.imponi.label}}</div>
            <div class="form-label">{{form.enasar.label}}</div>
            <div class="form-label">{{form.ritena.label}}</div>
            <div class="form-label">{{form.impena.label}}</div>
        </div>
        <div class="input-container">
            <div class="inline">{{form.maclit}}</div>
            <div class="inline">{{form.macles}}</div>
            <div class="inline">{{form.masfor}}</div>
            <div class="inline">{{form.ivcove}}</div>
            <div class="inline">{{form.ivcoac}}</div>
            <div class="inline">{{form.ivcoco}}</div>
            <div class="inline">{{form.cassa}}</div>
            <div class="inline">{{form.cotrri}}</div>
            <div class="inline">{{form.spetra}}</div>
            <div class="inline">{{form.spebol}}</div>
            <div class="inline">{{form.speinc}}</div>
            <div class="inline">{{form.picfat}}</div>
            <div class="inline">{{form.portra}}</div>
            <div class="inline">{{form.poriba}}</div>
            <div class="inline">{{form.conven}}</div>
            <div class="inline">{{form.copapa}}</div>
            <div class="inline">{{form.ivacce}}</div>
            <div class="inline">{{form.ivvece}}</div>
            <div class="inline">{{form.ivacre}}</div>
            <div class="inline">{{form.ivvere}}</div>
            <div class="inline">{{form.coriac}}</div>
            <div class="inline">{{form.conena}}</div>
            <div class="inline">{{form.cocoin}}</div>
            <div class="inline">{{form.ivvesp}}</div>
            <div class="inline">{{form.coivtr}}</div>
            <div class="inline">{{form.coivbo}}</div>
            <div class="inline">{{form.coivin}}</div>
            <div class="inline">{{form.coivpi}}</div>
            <div class="inline">{{form.coivta}}</div>
            <div class="inline">{{form.coivri}}</div>
            <div class="inline">{{form.ritenu}}</div>
            <div class="inline">{{form.imponi}}</div>
            <div class="inline">{{form.enasar}}</div>
            <div class="inline">{{form.ritena}}</div>
            <div class="inline">{{form.impena}}</div>                
        </div>
    </div>
</form>
<script>
    $('.dropdown-menu').on('scroll', function(){
        if ($(this).scrollTop() + $(this).innerHeight() >= $(this)[0].scrollHeight-10) {
            var url = $(this).parents('.drag-container').attr('id')
            var id = $(this).parents('.dropdown').siblings(".form-control").attr("name")
            var offset = parseInt($(this).children(':last').attr('class').split(' ').pop().split('-').pop(), 10)+1
            var dm = $(this)
            var chars = $(this).find('.dropdown-search-bar').val()
            $.ajax({
                url: url,
                type: 'GET',
                datatype: 'json',
                data: {
                    id: id,
                    offset: offset,
                    chars: chars
                },
                success: function(response){
                    var num = offset + 1;
                    $.each(response, function(i){
                        var li = '<li class="inline dropdown-menu-item item-{0}">'.format(num)
                        var cls_li ='</li>'
                        $.each(response[i], function(key, value){
                            li = li + "<div> {0} </div>".format(value)
                        })
                        li = li + cls_li
                        dm.append(li)
                        num++
                    })
                }
            })
        }
    })
</script>