.drag-container{
    border:1px solid grey;
    border-radius: 0.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    transition: font-size 0.1s;
}
.drag-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    border-radius: 0.4rem 0.4rem 0 0;
    border-bottom: 1px solid grey;
    position: relative;
    font-size: 1rem;
}
.drag-name{
    margin: 0 4px;
    transition: font-size 0.1s;
    font-weight: 500;
}
.drag-close{
    display: flex;
    align-items:  center;
}
.drag-close i{
    font-size: 1.5rem;
}
.big{
    min-width: 700px;
}
.bigger{
    min-width: 1000px;
}
.visible{
    opacity: 1;
    pointer-events: all;
}
.focus{
    z-index: 9;
}