<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        {% load static %}
        <script src="{% static 'scripts/login-error.js' %}"></script>
        <script src="{% static 'scripts/showpw.js' %}"></script>
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'infinito/logo.png' %}" />
        <link rel="stylesheet" href="{% static 'styles/login.css' %}">
        <title>Login</title>
    </head>
    <body>
        {% if form_errors %}
        <div class="login-error">{{ form_errors }} <i class='bx bx-x' ></i></div>
        {% endif %}
        <div class="form-container">
            <form class="login" action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                <h1 class="login-header">Log In</h1>
                <div class="logo"></div>
                <div class="input-container">
                    <input type="text" class="input-form" name="username" value="{{ username }}" placeholder=" " required autocomplete="off">
                    <label class="input-name">Nome Utente</label>
                </div>
                <div class="input-container">
                    <input type="password" id="password" class="input-form" name="password" value="{{ password }}" placeholder=" " required autocomplete="off">
                    <label class="input-name">Password</label>
                </div>
                <div class="showpass-container">
                    <input id="showpw"class="showpass-form"type="checkbox" id="showPassword">
                    <label class="showpass-name">Mostra Password</label>
                </div>
                <a class="signup-link" href="{% url 'signup' %}">Non hai un account? Registrati ora</a>
            <button type="submit" class="submit">Accedi</button>
            </form>
        </div>
    </body>
</html>