{% load get_next_field %}
<form action="{% url url_name %}" method="POST" class="container" target="form_response_iframe">
    <div class="form-container">
        {% csrf_token %}
        <div class="label-container">
            {% for field in form %}
                <div class="form-label">{{ field.label }}</div>
            {% endfor %}
        </div>
        <div class="input-container">
            {% for field in form %}
                {% if field.label %}
                    <div class="inline">
                        {{ field }}
                        {% if field.name in ddfields %}
                            <button type="button" class="dropdown">
                                <span id="left"></span>
                                <span id="right"></span>
                                <ul class="dropdown-menu"></ul>
                            </button>
                        {% endif %}
                        {% with next_field=form|get_next_field:field %}
                            {% if next_field and not next_field.label %}
                                {{ next_field }}
                            {% endif %}
                        {% endwith %}
                        {% if field.name in ddofields %}
                            {% for key, value in ddofields.items %}
                                {% if key == field.name %}
                                    <div class="draggable-opener inside-opener {{ value }}">+</div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                {% endif %}
            {%endfor %}
        </div>
    </div>
    {% if grid %}
    <table class="grid">
        <tr class="title-row">
            {% for field, title in grid.items %}
                <th class="grid-item">{{ title }}</th>
            {% endfor %}
        </tr>
    </table>
    {% endif %}
    <div class="inline btn-container">
        <button type="submit" class="submit-btn">Salva</button>
        <button type="button" class="delete-btn">Elimina</button>
        <button type="button" class="clean-btn">Pulisci</button>
        <div class="arrows-container inline">
            <button type="button" class="arrows-btn lt"><i class='bx bx-chevron-left'></i></button>
            <button type="button" class="arrows-btn gt"><i class='bx bx-chevron-right' ></i></button>
        </div>
    </div>
</form>
<script>
    $('.dropdown-menu').on('scroll', function(){
        if ($(this).scrollTop() + $(this).innerHeight() >= $(this)[0].scrollHeight-10) {
            var url = $(this).parents('.drag-container').attr('id')
            var id = $(this).parents('.dropdown').siblings(".form-control").attr("name")
            var offset = parseInt($(this).children(':last').attr('class').split(' ').pop().split('-').pop(), 10)+1
            var dm = $(this)
            var chars = $(this).find('.dropdown-search-bar').val()
            $.ajax({
                url: url,
                type: 'GET',
                datatype: 'json',
                data: {
                    id: id,
                    offset: offset,
                    chars: chars
                },
                success: function(response){
                    var num = offset + 1;
                    $.each(response, function(i){
                        var li = '<li class="inline dropdown-menu-item item-{0}">'.format(num)
                        var cls_li ='</li>'
                        $.each(response[i], function(key, value){
                            li = li + "<div> {0} </div>".format(value)
                        })
                        li = li + cls_li
                        dm.append(li)
                        num++
                    })
                }
            })
        }
    })
</script>